# Bitcoin data analysis with particular time-frame
### SeaofBTC data dumps are analysed

In [40]:
import urllib, json
import pandas as pd
import numpy as np

In [41]:
DataPace = "3d"   # 1d, 3d, 7d
ProgramName = "bitfinex" 
ResampleSize = "15Min"

In [42]:
datalink = "http://www.seaofbtc.com/api/basic/price?key=1&tf=" + DataPace + "&exchange=" + ProgramName

In [43]:
data = urllib.request.urlopen(datalink)
data = data.read().decode("utf-8")
data = json.loads(data)

In [44]:
df = pd.DataFrame({ "timestamp": data[0], "price": data[1], "volume": data[2]})
df.describe()

          timestamp        price       volume
count  5.517000e+03  5517.000000  5517.000000
mean   1.420823e+09   285.484535    15.099106
std    7.177132e+04     5.569094    22.275707
min    1.420699e+09   275.002857     0.060000
25%    1.420755e+09   280.062857     4.000000
50%    1.420833e+09   286.247143     8.663570
75%    1.420885e+09   290.082857    17.846798
max    1.420952e+09   297.021429   467.290215

In [45]:
df["datestamp"] = np.array(df["timestamp"]).astype("datetime64[s]")
df.head()

      timestamp       price     volume           datestamp
0  1.420699e+09  289.987143  19.993087 2015-01-08 06:28:50
1  1.420699e+09  289.925714   4.470721 2015-01-08 06:29:43
2  1.420699e+09  289.871429   7.490000 2015-01-08 06:30:05
3  1.420699e+09  289.708571   7.569279 2015-01-08 06:30:06
4  1.420699e+09  289.777143   4.224322 2015-01-08 06:30:27

In [46]:
df.set_index("datestamp", inplace=True)

In [47]:
df.head()

                        timestamp       price     volume
datestamp
2015-01-08 06:28:50  1.420699e+09  289.987143  19.993087
2015-01-08 06:29:43  1.420699e+09  289.925714   4.470721
2015-01-08 06:30:05  1.420699e+09  289.871429   7.490000
2015-01-08 06:30:06  1.420699e+09  289.708571   7.569279
2015-01-08 06:30:27  1.420699e+09  289.777143   4.224322

In [50]:
OHLC = df["price"].resample(ResampleSize).ohlc()
OHLC.head()

                           open        high         low       close
datestamp
2015-01-08 06:15:00  289.987143  289.987143  289.925714  289.925714
2015-01-08 06:30:00  289.871429  290.891429  289.708571  290.891429
2015-01-08 06:45:00  290.855714  291.137143  290.855714  291.137143
2015-01-08 07:00:00  291.061429  291.061429  290.794286  290.968571
2015-01-08 07:15:00  291.225714  291.951429  291.225714  291.951429

In [54]:
Vol = pd.DataFrame()
Vol["volume"] = df["volume"].resample(ResampleSize).sum()
Vol.head()

                         volume
datestamp
2015-01-08 06:15:00   24.463808
2015-01-08 06:30:00  161.724513
2015-01-08 06:45:00    7.178930
2015-01-08 07:00:00   69.732070
2015-01-08 07:15:00  112.076637

In [55]:
OHLC["datestamp"] = OHLC.index
Vol["datestamp"] = Vol.index

In [56]:
OHLC.head()

,open,high,low,close,datestamp
datestamp,,,,,
2015-01-08 06:15:00,289.987143,289.987143,289.925714,289.925714,2015-01-08 06:15:00
2015-01-08 06:30:00,289.871429,290.891429,289.708571,290.891429,2015-01-08 06:30:00
2015-01-08 06:45:00,290.855714,291.137143,290.855714,291.137143,2015-01-08 06:45:00
2015-01-08 07:00:00,291.061429,291.061429,290.794286,290.968571,2015-01-08 07:00:00
2015-01-08 07:15:00,291.225714,291.951429,291.225714,291.951429,2015-01-08 07:15:00

In [57]:
Vol.head()

                         volume           datestamp
datestamp
2015-01-08 06:15:00   24.463808 2015-01-08 06:15:00
2015-01-08 06:30:00  161.724513 2015-01-08 06:30:00
2015-01-08 06:45:00    7.178930 2015-01-08 06:45:00
2015-01-08 07:00:00   69.732070 2015-01-08 07:00:00
2015-01-08 07:15:00  112.076637 2015-01-08 07:15:00

In [64]:
OHLC.isna().any()

open         False
high         False
low          False
close        False
datestamp    False
dtype: bool

In [65]:
Vol.isna().any()

volume       False
datestamp    False
dtype: bool