# Huobi Bitcoin Data Analysis
### SeaofBTC webpage has this live data of Huobi trades

In [13]:
import urllib, json
import pandas as pd
import numpy as np

In [4]:
datalink = "http://www.seaofbtc.com/api/basic/price?key=1&tf=1d&exchange=huobi"

In [5]:
data = urllib.request.urlopen(datalink)
data = data.read().decode()
data = json.loads(data)

List of lists: 

First list - Datestamp
Second list - Price
Third list - Volume

In [9]:
i = 20
data[0][20], data[1][20], data[2][20]

(1420869842.0, 1748.69, 0)

In [22]:
df = pd.DataFrame({"datestamp": data[0], "price": data[1], "volume": data[2]})
df.describe()

          datestamp        price  volume
count  3.918000e+03  3918.000000  3918.0
mean   1.420912e+09  1690.679211     0.0
std    2.408574e+04    18.993617     0.0
min    1.420866e+09  1666.000000     0.0
25%    1.420890e+09  1677.400000     0.0
50%    1.420913e+09  1683.430000     0.0
75%    1.420932e+09  1696.800000     0.0
max    1.420952e+09  1754.000000     0.0

Notice that values for volume column are `0`.

So, it is useless to consider that column for plotting and analysis.

In [11]:
df.drop(["volume"], axis=1, inplace=True)
df.head()

      datestamp    price
0  1.420866e+09  1753.88
1  1.420866e+09  1753.69
2  1.420866e+09  1754.00
3  1.420866e+09  1754.00
4  1.420866e+09  1754.00

In [24]:
df["datestamp"] = np.array(df["datestamp"]).astype("datetime64[s]")
df.head()

            datestamp    price  volume
0 2015-01-10 04:58:04  1753.88       0
1 2015-01-10 04:58:28  1753.69       0
2 2015-01-10 04:59:01  1754.00       0
3 2015-01-10 04:59:01  1754.00       0
4 2015-01-10 04:59:01  1754.00       0