# Data analysis - WEX Bitcoin Data

In [1]:
import os, json, urllib
import pandas as pd
import numpy as np

In [17]:
datalink = "https://wex.nz/api/3/trades/btc_usd?limit=5000"

In [18]:
data = urllib.request.urlopen(datalink)
data = data.read().decode("utf-8")
data = json.loads(data)

In [19]:
data = data["btc_usd"]

In [20]:
df = pd.DataFrame(data)
df.describe()

             amount        price           tid     timestamp
count  5.000000e+03  5000.000000  5.000000e+03  5.000000e+03
mean   5.574743e-02  7602.128772  2.968210e+07  1.531644e+09
std    2.627221e-01    70.570643  1.171112e+04  1.759166e+04
min    1.000000e-08  7457.432000  2.966198e+07  1.531609e+09
25%    1.000080e-03  7540.000000  2.967155e+07  1.531632e+09
50%    1.002090e-03  7601.223000  2.968591e+07  1.531653e+09
75%    6.634425e-03  7658.697000  2.969126e+07  1.531657e+09
max    4.229177e+00  7718.731000  2.970048e+07  1.531666e+09

In [21]:
df["type"].value_counts()

bid    2590
ask    2410
Name: type, dtype: int64

### Buys are bids. Sells are asks.

In [22]:
buys = df[df["type"] == "bid"]
sells = df[df["type"] == "ask"]

In [23]:
2543 - 2457

86

In [24]:
buys = buys[:-86]
len(buys), len(sells)

(2504, 2410)